footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 400px;
}

main {
    text-align: center;
    margin: auto;
    max-width: 600px;
}

hr {
    max-width: 300px;
}